<section class="vista-proyectos">
  <div class="card contenedor-seccion-filtros">
    <div class="card-body">
      <div class="card-title d-flex justify-content-between ">
        <h4><i class="fa-solid fa-filter icono-filtros"></i> Filtros</h4>
        <button 
          id="button-nuevo" 
          class="btn p-0 border-0 bg-transparent" 
          title="Nuevo Proyecto">
          <i class="fa-solid fa-circle-plus text-success button-nuevo" ></i>
        </button>
      </div>
      <form class="form-buscar" id="form-buscar">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-6">
            <label for="id" class="form-label">Id</label>
            <input name="proyecto_id" type="number" class="form-control" id="id">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <label for="nombre" class="form-label">Nombre </label>
            <input name="nombre" type="text" class="form-control" id="nombre">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <label for="fechaDesde" class="form-label">Fecha desde</label>
            <input name="fecha_desde" type="date" class="form-control" id="fechaDesde">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <label for="fechaHasta" class="form-label">Fecha hasta</label>
            <input name="fecha_hasta" type="date" class="form-control" id="fechaHasta">
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <label for="tecnologias" class="form-label">Tecnologias</label>
            <select name="tecnologia" id="tecnologias" class="form-select">
              <!-- Se cargan de form dinámicas -->
            </select>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <label for="estados" class="form-label">Estado</label>
            <select name="estado" id="estados" class="form-select">
              <option value="true">Activo</option>
              <option value="false">Inactivo</option>
            </select>
          </div>
          <div class="col-12 contenedor-button-buscar mt-3">
            <i title="Limpiar filtros" class="fa-solid fa-broom text-warning me-2" id="limpiar" style="font-size: 25px;"></i>
            <button type="submit" title="Buscar" class="btn btn-primary" id="buttonBuscar"> <i class="fa-solid fa-magnifying-glass"></i> Buscar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="contenedor-resultados card">
    <div class="card-body head-table">
      <div class="row">
        <div class="col-12 d-flex justify-content-end mb-3">
          <input id="busqueda" type="text" placeholder="Buscar..." class="form-control tam-busqueda">
        </div>
        <div class="col-12">
          <table class="table table-striped table-hover">
            <thead>
              <tr class="">
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha Inicio</th>
                <th scope="col">Fecha Hasta</th>
                <th scope="col">Estado</th>
                <th scope="col" class="row-acciones-tecno">Acciones</th>
              </tr>
            </thead>
            <tbody id="tbody-resultados">
              <tr>
                <td colspan="7">
                  <div class="w-60 mt-3 alert d-flex align-items-center justify-content-center text-wrap fs-5" id="sin-resultados">
                    <i class="fa-solid fa-triangle-exclamation"></i> No hay resultados para mostrar
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> 

  <!-- componentes dialog -->
  <!-- Nuevo -->
  <div id="modal-nuevo-proyecto" class="modal-custom d-none">
    <div class="modal-overlay"></div>
    <div class="modal-content-proyectos">
      <div class="d-flex justify-content-between">
        <h5 class="mb-0">Nuevo Proyectos</h5>
        <span><i title="Cerrar" class="fa-solid fa-xmark" style="font-size: 20px;" id="cerrar-icon"></i></span>
      </div>
      <hr>
      <form id="form-nuevo">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6">
            <label for="nombre-nuevo" class="form-label">Nombre </label>
            <input type="text" class="form-control" required name="nombre" id="nombre-nuevo">
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <label for="fechaDesde" class="form-label">Fecha desde</label>
            <input type="date" class="form-control" required name="fechaDesdeNuevo" id="fechaDesde-nuevo">
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <label for="fechaHasta" class="form-label">Fecha hasta</label>
            <input type="date" class="form-control" name="fechaHastaNuevo" id="fechaHasta-nuevo">
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <label for="tecnolgias" class="form-label">Tecnologías</label>
            <select name="tecnologias" id="tecno-nuevo" class="form-select" multiple size="6">
              <!-- Carga dinámica -->
            </select>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
            <label for="estado" class="form-label">Estado</label>
            <select name="estado" id="estado-nuevo" required class="form-select">
              <option value="true">Activo</option>
              <option value="false">Inactivo</option>
            </select>
          </div>
          <div class="col-lg-9 col-md-6 col-sm-6">
            <label for="url-nuevo" class="form-label">URL Fotos </label>
            <input type="text" class="form-control" name="url" id="url-nuevo">
          </div>
          <div class="col-12">
            <label for="descripcion" class="form-label">Descripción </label>
            <textarea name="descripcion" id="descripcion-nuevo" required class="form-control" rows="4"></textarea>
          </div>
        </div>
        <div class="modal-actions">
          <button type="button" class="btn btn-secondary" id="cancelar-nuevo">Cancelar</button>
          <button type="submit" class="btn btn-success">Grabar</button>
        </div>
      </form>
    </div>
  </div>
  <!-- Editar -->
  <div id="modal-editar-proyecto" class="modal-custom d-none">
    <div class="modal-overlay"></div>
    <div class="modal-content-proyectos">
      <div class="d-flex justify-content-between">
        <h5 class="mb-0">Nuevo Proyectos</h5>
        <span><i title="Cerrar" class="fa-solid fa-xmark" style="font-size: 20px;" id="cerrar-editar"></i></span>
      </div>
      <hr>
      <form id="form-editar">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6">
            <label for="id_editar" class="form-label">Id </label>
            <input type="number" class="form-control" name="proyecto_id" id="id_editar">
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <label for="nombre_editar" class="form-label">Nombre </label>
            <input type="text" class="form-control" name="nombre" id="nombre_editar">
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <label for="fechaDesde_editar" class="form-label">Fecha desde</label>
            <input type="date" class="form-control" name="fechaDesdeEditar" id="fechaDesde-editar">
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <label for="fechaHasta_editar" class="form-label">Fecha hasta</label>
            <input type="date" class="form-control" name="fechaHastaEditar" id="fechaHasta-editar">
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <label for="tecno-editar" class="form-label">Tecnologías</label>
            <select name="tecnologia" id="tecno-editar" class="form-select">
              <!-- Carga dinámica -->
            </select>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
            <label for="estado-editar" class="form-label">Estado</label>
            <select name="estado" id="estado-editar" class="form-select">
              <option value="true">Activo</option>
              <option value="false">Inactivo</option>
            </select>
          </div>
          <div class="col-12">
            <label for="descripcion_editar" class="form-label">Descripción </label>
            <textarea name="descripcion" id="descripcion-editar" class="form-control"></textarea>
          </div>
        </div>
        <div class="modal-actions">
          <button type="button" class="btn btn-secondary" id="cancelar-editar">Cancelar</button>
          <button type="submit" class="btn btn-success">Guardar cambios</button>
        </div>
      </form>
    </div>
  </div>
</section>