*{
  box-sizing: border-box;
}

.contenedor-seccion-filtros{
  min-height: 170px;
  /*padding: 25px;*/
  margin-bottom: 10px;

}
.contenedor-filtros{

}
.contenedor-button-buscar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icono-filtros{
  font-size: 22px;
}